@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=IM+Fell+Double+Pica+SC&family=IM+Fell+Great+Primer+SC&family=Jomolhari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fondo-proyectos {
  height: 100vh;
  background-image: url("../assets/images/fondo-proyectos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-informacion-proyectos {
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  height: 70%;
  gap: 10px;
  margin-top: 120px;
  padding: 20px;
  grid-template-rows: 30px 500px;
}

.titulo-apartado {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-apartado-proyectos {
  color: white;
  font-family: "IM Fell Double Pica", serif;
  text-transform: uppercase;
  font-size: 25px;
}

.enlace-github {
  color: white;
  margin-top: 1rem;
  text-decoration: none;
  font-family: "IM Fell Double Pica", serif;
  font-size: 20px;
}

.enlace-github:hover {
  border-bottom: 1px solid white;
}

.apartado-proyectos {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sitio-freelancer {
  grid-column: 1 / 2;
}

.frontend-store {
  grid-column: 2 / 3;
}

.coffee-blog {
  grid-column: 3 / 4;
}

.login-instagram {
  grid-column: 4 / 5;
}

.proyecto {
  border: 3px solid white;
  padding: 1rem;
  color: white;
  height: 400px;
}

.proyecto-imagen {
  width: 200px;
}

.titulo-proyecto {
  font-family: "IM Fell Double Pica", serif;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  margin-top: 1rem;
}

.descripcion-proyecto {
  font-family: "Cardo", serif;
  font-size: 15px;
  margin-top: 1rem;
}

.tecnologias-proyecto {
  text-align: center;
  font-family: "IM Fell Double Pica", serif;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 1rem;
}

.enlace-proyecto {
  font-family: "Cardo", serif;
  font-size: 15px;
  color: white;
  margin-top: 2rem;
  text-decoration: none;
}

.enlace-proyecto:hover{
  border-bottom: 1px solid white;
}

@media screen and (max-width: 799px) {
  .fondo-proyectos {
    overflow-y: scroll;
  }

  .contenedor-informacion-proyectos{
    grid-template-columns: 300px;
    width: 70%;
    height: 100rem;
    margin-top: 80rem;
    margin-bottom: 10rem;
  }

  .apartado-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .proyecto {
    width: 90%;
    height: 60%;

  }
}


@media screen and (min-width: 1429px) {
  .contenedor-informacion-proyectos {
    width: 70%;
    height: 70%;
  }
}
